:root {
    --main-color: lightgrey;
    --bg-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

main {
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

nav {
    background: var(--bg-color);
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 1px 10px  grey;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0 1rem;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #235bf6;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav ul li a:hover,
nav ul li a:focus {
    color: black;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    color: #235bf6;
    display: inline-block;
    animation: beat 1s infinite;
}

#projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10vh 0;
}

.project-header {
    margin: 1rem;
    color: black;
}

.project-container {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project-tile {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 1rem;
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 10px;
    transition: all .3s;
    padding: 1rem;
}

.project-tile:hover {
    transform: scale(1.1);
}

.project-tile img {
    width: 100%;
    border-radius: 10px;
}

.project-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 0 10px grey;
}

.project-description a {
    color: #235bf6;
    text-decoration: none;
    font-size: 1rem;
}

#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact ul {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact ul li {
    list-style: none;
    padding: 2rem 1rem 1rem 1rem;
    width: 230px;
}

#contact ul li i {
    padding-right: 5px;
}

#contact ul li a {
    text-decoration: none;
    color: #235bf6;
    
}

footer {
    height: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: 100%;
    height: 5px;
    background-color: #235bf6;
}

@keyframes beat {
    from { transform: scale(.5); }
    to { transform: scale(1); }
}

@media (min-width: 900px) {
    main {
        font-size: 3rem;
    }

    #contact ul li a {
        font-size: 1.5rem;
        animation: transform 2s ease;
        padding: 5px;
        transition: all .5s ease;
    }

    #contact ul li a:hover {
        display: inline-block;
        transform: translateY(10px);
    }

    footer {
        font-size: 1rem;
    }
}